<p id="notice"><%= notice %></p>
  <div class="back">
  <%= link_to words_path do %>
    <i class="fa fa-arrow-circle-left fa-4x" aria-hidden="true"></i>
  <%end%>
</div>


<div class="row">

  <div class="col-xs-6">
    <h4 class="word-title"><%= @first_words %></h4>
    <h4 class="word-image"><%= image_tag @word_search.items[rand(10)].link %></h4>
  <h3>means...</h3>
    <h4 class="meanings">
      <ul><% @word.meanings.each do |meaning| %>
      <li><%= meaning.meaning %></li>
    <%end%>
  </ul>
  <h4>
    <button><%= link_to "意味を追加する", new_meaning_path(id: params[:id])%>
    </button>
  </h4>
  </div>
  <p>例文</p>
  <h4>
    <ul><% @word.examples.each do |example| %>
      <li class="english_example"><%= example.english %></li>
      <li class="japanese_example"><%= example.japanese%></li>
    <%end%>
    </ul>
    <button><%= link_to "例文を追加する", new_example_path(id: params[:id])%>
    </button>
  </h4>




</div>
