<p id="notice"><%= notice %></p>



<div class="row">
  <div class="col-xs-6">
    <h4 class="word-title"><%= @first_words %></h4>
    <% if @pictureoi %>
      <h4 class="word-image"><%= image_tag @pictureoi.picture %></h4>
    <% else %>
      <h4 class="word-image"><%= image_tag @word_search.items[rand(10)].link %></h4>
    <%end%>

</div>
</div>
  <div class="meaning section">
    <div class="each-title">
      <div class="each-title-left">means...</div>
      <div class="each-title-right"><%= link_to new_meaning_path(id: params[:id]) do%>
          <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <div class="meanings content-parent">
      <ul><% @word.meanings.each do |meaning| %>
      <li><div class="content">
        <%= raw(meaning.meaning) %>
      </div>
      <div class="content-subs">
        <% if @current_user.id = @word_user%>
          <div class="edit">
            <%= link_to edit_meaning_path(id: params[:id]) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
          </div>
          <%else%>
          aaa
          <%end%>
          <div class="destroy">
            <%= link_to meaning, data: {:confirm => 'Are you sure?'}, :method => :delete do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
      </div>
      </li>
    <%end%>
  </ul>
  </div>
</div>


<div class="details section">
  <div class="each-title">
    <div class="each-title-left">details...</div>
    <div class="each-title-right"><%= link_to new_detail_path(id: params[:id]) do%>
        <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="content-parent">
    <ul><% @word.details.each do |detail| %>
    <li><div class="content">
      <%= raw(detail.body) %>
    </div>
    <div class="content-subs">
        <div class="edit">
          <%= link_to edit_detail_path(id: params[:id]) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="destroy">
          <%= link_to detail, data: {:confirm => 'Are you sure?'}, :method => :delete do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
    </div>
    </li>
      <%end%>
    </ul>
  </div>
</div>
