<%= form_with(model: example, local: true) do |form| %>
  <% if example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
      <% example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :japanese %>
    <%= form.text_field :japanese, id: :example_japanese %>
  </div>

  <div class="field">
    <%= form.label :english %>
    <%= form.text_field :english, id: :example_english %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
